@import 'variables';

.footer {
  margin: 0;
  padding: 50px 0;
  background-color: $bg-footer;

  &__container {
    width: $width-max;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid $white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    list-style: none;
  }

  &__list__item {
    margin: 0 60px 0 0;
  }

  &__list__item:first-child {
    margin: 0 60px 0 100px;
  }

  &__list__item:last-child {
    margin: 0 100px 0 0;
  }

  &__list__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $white;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  &__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    padding: 20px 88px;
    border-right: 1px solid $white;
  }

  &__item:first-child {
    padding: 20px 60px 20px 100px;
  }

  &__item:last-child {
    padding: 20px 100px 20px 60px;
    border-right: none;
  }

  &__socials {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__socials__item {
    padding: 20px 40px;
  }

  &__socials__item:first-child {
    padding: 20px 40px 20px 60px;
  }

  &__socials__item:last-child {
    border-right: 1px solid $white;
    padding: 20px 60px 20px 40px;
  }
}
