.about
  .container.about__container
    .about__content
      h2.about__title Лучший вкус, это вкус долголетнего вина
      hr.about__line
      p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id ea amet delectus aliquam quidem libero repudiandae? Corporis cupiditate nobis nulla eum qui repudiandae optio? Quo suscipit nisi distinctio aut! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum ea expedita iusto omnis iste. Necessitatibus expedita ipsam dolor aut quibusdam autem quae assumenda repellendus et nesciunt, natus animi debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aspernatur sunt aperiam accusamus iure in omnis consequatur. Atque dolor nesciunt eaque molestiae consectetur quidem nam distinctio omnis, mollitia, earum minus?
      img.about__image(src="./img/images/glass.png", alt="glass for vine")