.contact
  .container.contact__container
    .contact__content
      img(src="./img/images/contact_1.jpg", alt="contact_1").contact__border__image
      .contact__info
        h2.contact__title Запись на дегустацию
        hr.contact__line
        p.contact__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. 
      img(src="./img/images/contact_2.jpg", alt="contact_2").contact__border__image
    form.contact__form
      input(type="text", name="name", placeholder="Имя").contact__input
      input(type="text", name="phone", placeholder="Телефон").contact__input
      input(type="text", name="address", placeholder="Бутик на Невском 103").contact__input
      a.btn.contact__btn записаться